.quality {
  padding-bottom: 70px;
  background-image: url("../img/quality-bg.jpg");
  background-repeat: no-repeat;
  background-size: 750px 600px;
  background-position: calc(50% + 600px) top;
}

.quality__bg {
  display: none;
}

.quality__box {
  max-width: 735px;
  margin-right: auto;
}

.quality__title {
  margin-top: 20px;
  margin-bottom: 34px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #272727;
}

.quality__title::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #FFD600;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
}

.quality__text {
  margin: 0;
  margin-bottom: 34px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.quality__inner {
  max-width: 400px;
  display: flex;
  margin-left: auto;
}

.quality__signature {
  display: block;
}

.quality__button {
  max-width: 265px;
  margin-left: auto;
  padding: 25px 85px;
  border: none;
  background: #0055B8;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

@media only screen and (max-width: 1320px) {
  .quality {
    background-image: url("../img/quality-bg.jpg");
    background-repeat: no-repeat;
    background-size: 750px 600px;
    background-position: right -300px top;
  }
}

@media only screen and (max-width: 1240px) {
  .quality {
    background-image: url("../img/quality-bg.jpg");
    background-repeat: no-repeat;
    background-size: 750px 600px;
    background-position: right -400px top;
  }
}

@media only screen and (max-width: 1115px) {
  .quality {
    background-image: url("../img/quality-bg.jpg");
    background-repeat: no-repeat;
    background-size: 750px 600px;
    background-position: right -500px top;
  }
}

@media only screen and (max-width: 1024px) {
  .quality {
    background-image: url("../img/quality-bg.jpg");
    background-repeat: no-repeat;
    background-size: 750px 600px;
    background-position: right -500px top;
  }

  .quality__box {
    max-width: 600px;
  }
}

@media only screen and (max-width: 885px) {
  .quality {
    background-image: none;
    padding-left: 5px;
    padding-right: 5px;
  }

  .quality__bg {
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .quality__button {
    padding: 24px 42px;
    max-width: 175px;
  }

  .quality__title::before {
    margin-right: auto;
    margin-left: 0;
  }
}