.reviews {
  padding-top: 70px;
  padding-bottom: 70px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #272727;
}

.reviews__title::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #FFD600;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 16px;
}

.reviews__text {
  max-width: 483px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #4D4D4D;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.reviews__item {
  max-width: 350px;
}

.reviews__name {
  margin-top: 31px;
  margin-bottom: 13px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.reviews__profession {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #4D4D4D;
}

.reviews__link {
  max-width: 265px;
  padding: 24px 66px;
  margin-top: 49px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #4D4D4D;
  border: 2px solid #0055B8;
  border-radius: 5px;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease;
}

.reviews__link:hover {
  color: #fff;
  background-color: #0055B8;
}

.reviews__link:active {
  opacity: 0.6;
}

@media only screen and (max-width: 1110px) {
  .reviews__item {
    max-width: 305px;
  }

  .reviews__img {
    max-width: 305px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 985px) {
  .reviews__item--petr {
    display: none;
  }

}

@media only screen and (max-width: 820px) {
  .reviews {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (max-width: 625px) {
  .reviews__item {
    max-width: 330px;

    &--vasilisa {
      display: none;
    }
  }

  .reviews__img {
    max-width: 350px;

    margin-left: auto;
    margin-right: 0;
  }
}
